<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<agm-map [latitude]="lat" [longitude]="lng">
  <agm-direction *ngIf="dir" [origin]="dir.origin" [destination]="dir.destination" (onResponse)="onResponse($event)">
    <ng-container *ngFor="let point of points">
      <agm-marker [latitude]="point?.latitude" [longitude]="point?.longitude">
        <agm-info-window [disableAutoPan]="false" #infoWindow>
          {{ point.pracaPedagio }}
        </agm-info-window>
      </agm-marker>
    </ng-container>
  </agm-direction>
</agm-map>

<div class="search">
  <div class="form-inline">
    <div class="form-group mb-2">
      <input #origem type="text" class="form-control" id="origem" placeholder="Origem">
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <input #destino type="text" class="form-control" id="destino" placeholder="Destino">
    </div>
    <button type="button" (click)="getDirection()" class="btn btn-primary mb-2">Buscar</button>
  </div>
</div>